<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipy.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipy.description %>
</p>

<%= link_to 'Edit', edit_recipy_path(@recipy) %> |
<%= link_to 'Back', recipies_path %>
